# Day9

## 1. Your First Machine Learning Model

모델을 정의하고 학습시키기 전에 학습시킬 데이터를 먼저 준비해야 한다. 
데이터를 가져오는 일은 앞에서 배운 pandas를 이용하도록 한다.

In [72]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor

data_path = "../data/melb_data.csv"
home_data = pd.read_csv(data_path)
home_data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

pandas를 통해 가져온 데이터를 우리가 학습시키길 원하는 형태로 변환시켜야 한다. 
에를 들면 특정 열만 가져와서 학습에 참고하도록 한다거나 train dataset과 test dataset을 분리하는 작업을 하여야 한다.
또한 추가적으로 정규화나 이상치 제거와 같은 전처리도 진행해 주어야 하지만 여기서는 간단히만 알아본다.

In [73]:
y=home_data.Price
x.head()

,Rooms,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,Lattitude,Longtitude,Propertycount
0,2,2.5,3067.0,2.0,1.0,1.0,202.0,-37.7996,144.9984,4019.0
1,2,2.5,3067.0,2.0,1.0,0.0,156.0,-37.8079,144.9934,4019.0
2,3,2.5,3067.0,3.0,2.0,0.0,134.0,-37.8093,144.9944,4019.0
3,3,2.5,3067.0,3.0,2.0,1.0,94.0,-37.7969,144.9969,4019.0
4,4,2.5,3067.0,3.0,1.0,2.0,120.0,-37.8072,144.9941,4019.0

In [74]:
x=x.select_dtypes(include=['int64','float64'])

In [76]:
x=x.drop(columns=['Car'],axis=1)
x.head()

,Rooms,Distance,Postcode,Bedroom2,Bathroom,Landsize,Lattitude,Longtitude,Propertycount
0,2,2.5,3067.0,2.0,1.0,202.0,-37.7996,144.9984,4019.0
1,2,2.5,3067.0,2.0,1.0,156.0,-37.8079,144.9934,4019.0
2,3,2.5,3067.0,3.0,2.0,134.0,-37.8093,144.9944,4019.0
3,3,2.5,3067.0,3.0,2.0,94.0,-37.7969,144.9969,4019.0
4,4,2.5,3067.0,3.0,1.0,120.0,-37.8072,144.9941,4019.0

In [77]:
x.isna().sum()

Rooms            0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Landsize         0
Lattitude        0
Longtitude       0
Propertycount    0
dtype: int64

In [78]:
iowa_model = DecisionTreeRegressor(random_state=1)

In [79]:
iowa_model.fit(x,y)

DecisionTreeRegressor(random_state=1)

In [80]:
predictions=iowa_model.predict(x)
print(predictions[:5])
print(y[:5])

[1480000. 1035000. 1465000.  850000. 1600000.]
0    1480000.0
1    1035000.0
2    1465000.0
3     850000.0
4    1600000.0
Name: Price, dtype: float64

## 2. Model Validation

앞서 우리는 모델을 정의하고 그 모델에 불러온 데이터를 학습시켜 결과를 반환하였다. 
하지만 앞에서 한 예제는 문제점이 있다. 바로 학습에 대한 평가(validation)또한 학습데이터로 진행했다는 점이다.
학습데이터로 평가까지 진행한다면 그 모델은 오직 학습데이터에만 잘 작동하는 모델이 될 것이다. 
모델은 범용성을 확보해야 하는 것이 중요하다. 따라서 이러한 범용성을 가지는지 평가하기 위해서는 
모델이 처음보는 데이터(학습에 사용하지 않은 데이터)로 평가를 실행해야 한다.

여기서 이 문제를 해결하기 위헤 train dataset을 train, validation dataset으로 나눈다.

In [82]:
from sklearn.model_selection import train_test_split

train_x,val_x,train_y,val_y = train_test_split(x,y,random_state=1)

In [86]:
print(len(train_x),len(val_x),len(train_y),len(val_y))

10185 3395 10185 3395

위와 같이 ```train_tset_split()```메소드를 이용하여 성공적으로 train,val데이터셋을 분리하였다. 

이렇게 나눈 dataset을 이용하여 다시 새로운 모델에 학습을 시킨다.

In [87]:
iowa_model = DecisionTreeRegressor(random_state=1)
iowa_model.fit(train_x,train_y)

DecisionTreeRegressor(random_state=1)

In [88]:
predictions=iowa_model.predict(val_x)
print(predictions[:5])
print(val_y[:5])

[1100000. 1105000. 2275000.  900000. 3150000.]
321      1640000.0
4003      675000.0
13348    2800000.0
2697      615000.0
12600    2700000.0
Name: Price, dtype: float64

결과를 보니 예측값과 실제값의 차이가 꽤 크다. 
이를 mae(mean absolute error)라는 metrics를 사용하여 평가해 보자.

In [89]:
from sklearn.metrics import mean_absolute_error

val_mae = mean_absolute_error(val_y,predictions)
print(val_mae)

234689.40805105548

결과를 보면 꽤 큰 숫자가 반환되었는데 의미는 모든 항목에 대해서 
평균적으로 위 숫자만큼 오차가 있다는 것이다. 

참고 : https://m.blog.naver.com/PostView.naver?isHttpsRedirect=true&blogId=heygun&logNo=221516529668